{% extends 'dashboard/_base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
    <section class="section mt-5">
        <div class="container">
            <div class="justify-content-center row">
                <div class="col-lg-12">
                    <div class="candidate-list-widgets mb-4">
                        <form action="#" class="">
                            <div class="g-2 row">

                                <form method="get">
                                    {% for field in filter_set.form %}
                                        <div class="col-lg-2 d-inline-block">
                                            <div class="filler-job-form">
                                                {{ field|attr:"class:form-control" }}
                                            </div>
                                        </div>

                                    {% endfor %}
                                    <div class="col-lg-3">
                                        <div class="selection-widget">
                                            <select class="form-select" data-trigger="true"
                                                    name="choices-single-filter-orderby"
                                                    id="choices-single-filter-orderby"
                                                    aria-label="Default select example">
                                                <option value="df">Default</option>
                                                <option value="mo">Most Expensive</option>
                                                <option value="le">Least Expensive</option>
                                                <option value="rd">Random</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div>
                                            <button type="submit" class="btn btn-primary" href="#"><i
                                                    class="uil uil-filter"></i> Filter
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="candidate-list">
                {% for item in page_obj %}
                    <div class="candidate-list-box card mt-4">
                    <div class="p-4 card-body d-flex align-items-center justify-content-between pe-5">
                        <div class="align-items-center row" style="width: 100%">
                            <div class="col-auto">
                                <div class="candidate-list-images">
                                    <a href="{{ item.image.url }}"><img src="{{ item.image.url }}"
                                                                        alt=""
                                                                        class="avatar-md img-thumbnail rounded-circle"/></a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="candidate-list-content mt-3 mt-lg-0">
                                    <h5 class="fs-19 mb-0">
                                        <a class="primary-link" href="#">{{ item.name }}</a><span
                                            class="badge bg-success ms-1"><i
                                            class="mdi mdi-star align-middle"></i>4.8</span>
                                    </h5>
                                    <p class="text-muted mb-2">{{ item.description }}</p>
                                    <ul class="list-inline mb-0 text-muted">
                                        <li class="list-inline-item"><i
                                                class="mdi mdi-map-marker"></i>{{ item.date_added }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                                    <span class="badge bg-soft-secondary fs-14 mt-1">{{ item.category }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <li class="list-inline-item"><i class="mdi mdi-wallet"></i> ${{ item.price }}
                            </li>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="h-100 d-flex justify-content-center">
                <div class="row ">
                    <nav aria-label="Page navigation" class="paginator-bottom-center">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1&ad={{ ad }}&order={{ order }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">begin</span>
                                    </a>
                                </li>   {% endif %}

                            {% for n in page_obj.paginator.page_range %}
                                {% if page_obj.number == n %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                    </li>
                                {% elif n > page_obj.number|add:'-4' and n < page_obj.number|add:'4' %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ n }}&ad={{ ad }}&order={{ order }}">{{ n }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ page_obj.paginator.num_pages }}&ad={{ ad }}&order={{ order }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">end</span>
                                    </a>
                                </li>
                            {% endif %}   </ul>
                    </nav>
                </div>
            </div>
        </div>

    </section>

{% endblock %}