{% extends 'dashboard/_base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
    <section class="section mt-5">
        <div class="container">
            <div class="justify-content-center row">
                <div class="col-lg-12">
                    <div class="candidate-list-widgets mb-4">
                        <form action="#" class="">
                            <div class="g-2 row">
                                <div class="col-lg-3">
                                    <div class="filler-job-form">
                                        <i class="uil uil-briefcase-alt"></i><input id="exampleFormControlInput1"
                                                                                    placeholder="Name, Category... "
                                                                                    type="search"
                                                                                    class="form-control filler-job-input-box form-control"/>
                                    </div>
                                </div>
                                {#                                <div class="col-lg-3">#}
                                {#                                    <div class="filler-job-form">#}
                                {#                                        <i class="uil uil-location-point"></i>#}
                                {#                                        <select class="form-select selectForm__inner" data-trigger="true"#}
                                {#                                                name="choices-single-location" id="choices-single-location"#}
                                {#                                                aria-label="Default select example">#}
                                {#                                            <option value="AF">Cold Drinks</option>#}
                                {#                                            <option value="AX">Coffee</option>#}
                                {#                                            <option value="AL">Shakes</option>#}
                                {##}
                                {#                                        </select>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                <form method="get">
                                    {% for field in filter_set.form %}
                                        <div class="col-lg-3 d-inline-block">
                                            <div class="filler-job-form">
                                                {{ field|attr:"class:form-control" }}
                                            </div>
                                        </div>

                                    {% endfor %}
                                    <div class="col-lg-3">
                                        <div>
                                            <button type="submit" class="btn btn-primary" href="#"><i
                                                    class="uil uil-filter"></i> Filter
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="align-items-center row">
                        <div class="col-lg-8">
                            <div class="mb-3 mb-lg-0"><h6 class="fs-16 mb-0">Showing 1 – 8 of 11 results</h6></div>
                        </div>
                        <div class="col-lg-4">
                            <div class="candidate-list-widgets">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="selection-widget">
                                            <select class="form-select" data-trigger="true"
                                                    name="choices-single-filter-orderby"
                                                    id="choices-single-filter-orderby"
                                                    aria-label="Default select example">
                                                <option value="df">Default</option>
                                                <option value="mo">Most Expensive</option>
                                                <option value="le">Least Expensive</option>
                                                <option value="rd">Random</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="selection-widget mt-2 mt-lg-0">
                                            <select class="form-select" data-trigger="true"
                                                    name="choices-candidate-page" id="choices-candidate-page"
                                                    aria-label="Default select example">
                                                <option value="all">All</option>
                                                <option value="8">8 per Page</option>
                                                <option value="12">12 per Page</option>
                                                <option value="20">20 per Page</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="candidate-list">
                        {% for item in items %}
                            <div class="candidate-list-box card mt-4">
                            <div class="p-4 card-body">
                                <div class="align-items-center row">
                                    <div class="col-auto">
                                        <div class="candidate-list-images">
                                            <a href="{{ item.image.url }}"><img src="{{ item.image.url }}"
                                                                                alt=""
                                                                                class="avatar-md img-thumbnail rounded-circle"/></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="candidate-list-content mt-3 mt-lg-0">
                                            <h5 class="fs-19 mb-0">
                                                <a class="primary-link" href="#">{{ item.name }}</a><span
                                                    class="badge bg-success ms-1"><i
                                                    class="mdi mdi-star align-middle"></i>4.8</span>
                                            </h5>
                                            <p class="text-muted mb-2">Project Manager</p>
                                            <ul class="list-inline mb-0 text-muted">
                                                <li class="list-inline-item"><i class="mdi mdi-map-marker"></i> Oakridge
                                                    Lane Richardson
                                                </li>
                                                <li class="list-inline-item"><i class="mdi mdi-wallet"></i> $650 / hours
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                                            <span class="badge bg-soft-secondary fs-14 mt-1">Leader</span><span
                                                class="badge bg-soft-secondary fs-14 mt-1">Manager</span><span
                                                class="badge bg-soft-secondary fs-14 mt-1">Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="favorite-icon">
                                    <a href="#"><i class="mdi mdi-heart fs-18"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mt-4 pt-2 col-lg-12">
                            <nav aria-label="Page navigation example">
                                <div class="pagination job-pagination mb-0 justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" tabindex="-1" href="#"><i
                                                class="mdi mdi-chevron-double-left fs-15"></i></a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"><i class="mdi mdi-chevron-double-right fs-15"></i></a>
                                    </li>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
    </section>

{% endblock %}