{% extends 'dashboard/_base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <div class="row position-relative">
                                <span class="me-3">Date: {{ order.order_date }}</span>
                                <span class="me-3">Order Number: {{ order.id }}</span>
                                <span class="me-3">Phone Number: {{ order.phone_number }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="badge rounded-pill bg-info"
                                      style="font-size: large;">Table #{{ order.table_number }}</span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                {% for item in order.get_order_items %}
                                    <tr>
                                        <td>
                                            <div class="d-flex mb-2">
                                                <div class="flex-shrink-0">
                                                    <a href="{{ item.cafeitem.image.url }}">
                                                        <img src="{{ item.cafeitem.image.url }}" alt="" width="35"
                                                             class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="flex-lg-grow-1 ms-3 position-relative">
                                                    <h6 class="small mb-0">
                                                        <a href="#" class="text-reset">{{ item.cafeitem.name }}</a>
                                                    </h6>
                                                    <span class="small">{{ item.cafeitem.description }}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="justify-content-center">
                                            <form action="{% url 'order_item_update' order.id %}" method="post">
                                                {% csrf_token %}
                                                <div class="d-flex align-items-center">
                                                    <input class="form-control me-2" name="quantity"
                                                           style="max-width: 12rem;" type="number"
                                                           value="{{ item.quantity }}">
                                                    <button type="submit" class="btn btn-success">&#10004;</button>
                                                    <input name="orderitem" style="visibility: hidden; width: 0px;"
                                                           value="{{ item.pk }}">
                                                </div>
                                            </form>
                                        </td>
                                        <td class="text-end">{{ item.price }} T</td>
                                    </tr>
                                {% endfor %}
                                <!-- Additional row for adding new items -->
                                <tr>
                                    <form method="post">
                                        {% csrf_token %}
                                        <td colspan="2">
                                            <div class="row">
                                                <div class="col-lg-8 col-sm-12">
                                                    <input type="text" name="item" list="exampleList"
                                                           class="select form-select mb-3"
                                                           placeholder="Choose item to add">
                                                    <datalist id="exampleList">
                                                        {% for item in cafeitems %}
                                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                                        {% endfor %}
                                                    </datalist>
                                                </div>
                                                <div class="col-lg-4 col-sm-12">
                                                    <div><input type="number" name="quantity" placeholder="Quantity" class="form-control me-2">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div>
                                                <button type="submit" class="btn btn-primary w-100">Add</button>
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Order Summary</h5>
                        <hr>
                        <p>Total Items: {{ order.get_total_items }}</p>
                        <p>Order Total: {{ order.get_total_price }} T</p>
                    </div>
                </div>
                <a href="{% url 'dashboard' %}" class="btn btn-primary">Back to Dashboard</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9" style="margin-right: -30px;">
                <div class="card mb-4">
                    <div class="card-body">
                        <!-- Your form content -->
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
