{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Orders History{% endblock %}

{% block style %}
{#<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">#}
<link href="{% static '/cart.css' %}" rel="stylesheet">
<link href='http://alimd.github.io/libs/1fonts/1.4/1fonts.css' rel='stylesheet' type='text/css'/>
{% endblock %}

<!--================ Banner Area =================-->
{% block headername %}Orders History{% endblock %}
<!--================End Banner Area =================-->

