{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Menu
{% endblock %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
{#<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">#}
<link href="{% static 'css/cart.css' %}" rel="stylesheet">
<link href='http://alimd.github.io/libs/1fonts/1.4/1fonts.css' rel='stylesheet' type='text/css'/>
{% endblock %}

 <!--================ Banner Area =================-->
 {% block bannername %}سبد خرید{% endblock %}
 <!--================End Banner Area =================-->

 <!--================ Cart Area =================-->
{% block content %}
    <form method="post" action="{% url 'cart' %}">
        {% csrf_token %}
        <div class="container padding-bottom-3x mb-1 pt-5">
            <div class="table-responsive shopping-cart">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="yekan">محصول</th>
                        <th class="text-center yekan">تعداد</th>
                        <th class="text-center yekan">فی</th>
                        <th class="text-center yekan">مجموع</th>
                        <th class="text-center yekan"><a class="btn btn-sm btn-outline-danger" href="{% url 'delete_cart' %}">حذف سبد</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item, quant in items.items %}
                        <tr>
                            <td>
                                <div class="product-item">
                                    <a class="product-thumb" href="{{ item.image.url }}"><img
                                            src="{{ item.image.url }}" alt="Product" style="width: 5rem; height: 5rem;"></a>
                                    <div class="product-info">
                                        <h4 class="product-title"><a href="#">{{ item.name }}</a></h4>
                                        {#<span><em>Size:</em> 10.5</span><span><em>Color:</em> Dark Blue</span>#}
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-secondary" onclick="increment(this.nextElementSibling); return false;">+
                                </button>
                                <input class="pb-1" type="number" id="quantity" name="{{ item.id }}" value="{{ quant }}"
                                       min="1" max="9"
                                       style="-webkit-appearance: none; -moz-appearance: textfield; width: 50px; height: 38px">
                                <button class="btn btn-secondary" onclick="decrement(this.previousElementSibling); return false;">-
                                </button>
                            {#<input value="{{ item.id }}" name="{{ item.id }}" style="display: none">#}
                            </td>
                            <td class="text-center text-lg text-medium">{{ item.price|intcomma }}</td>
                            <td class="text-center text-lg text-medium">
                                {% widthratio item.price 1 quant as tot %}{{ tot|intcomma }}</td>
                            <td class="text-center"><a class="remove-from-cart" data-toggle="tooltip" title=""
                                                       data-original-title="Remove item" onclick="remove({{ item.id }}); return false;"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="shopping-cart-footer">
                <div class="column">

                </div>
                <div class="column text-lg" style="font-family: yekan;">مجموع: <span class="text-medium">{{ total|intcomma }}</span></div>
            </div>
            <div class="shopping-cart-footer">
                <div class="column"><a class="btn btn-outline-secondary" href="{% url 'menu' %}" style="font-family: yekan;"><i class="icon-arrow-left"></i>&nbsp;بازگشت
                    به منو</a></div>
                <div class="column">
                    <button class="btn btn-primary" type="submit" style="font-family: yekan;">به روزرسانی سبد</button>
                    <a class="btn btn-success" href="{% url 'checkout' %}" style="font-family: yekan;">ثبت سفارش</a></div>
            </div>
        </div>
    </form>
    {% block script %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/cookie.js' %}"></script>
    {% endblock %}
{% endblock %}
 <!--================ End Cart Area =================-->