{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Checkout{% endblock %}

{% block style %}
<link href="{% static 'css/checkout.css' %}" rel="stylesheet">
<link href='http://alimd.github.io/libs/1fonts/1.4/1fonts.css' rel='stylesheet' type='text/css' />
{% endblock %}


<!--================ Banner Area =================-->
{% block headername %}Checkout{% endblock %}
{% block nestname %}Payment{% endblock %}
<!--================End Banner Area =================-->

<!--================ Checkout Area =================-->
{% block content %}
    <form method="post" action="{% url 'checkout' %}">
        {% csrf_token %}
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-9">
                    <div class="bg-light pb-1 rounded-4 h-100" id="accordionPayment">

                        <div class="accordion-item mb-3">
                            <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
                            <span>
                                <svg width="34" height="25" xmlns="http://www.w3.org/2000/svg">
                                    <g fill-rule="nonzero" fill="#333840">
                                        <path d="M29.418 2.083c1.16 0 2.101.933 2.101 2.084v16.666c0 1.15-.94 2.084-2.1 2.084H4.202A2.092 2.092 0 0 1 2.1 20.833V4.167c0-1.15.941-2.084 2.102-2.084h25.215ZM4.203 0C1.882 0 0 1.865 0 4.167v16.666C0 23.135 1.882 25 4.203 25h25.215c2.321 0 4.203-1.865 4.203-4.167V4.167C33.62 1.865 31.739 0 29.418 0H4.203Z"></path>
                                        <path d="M4.203 7.292c0-.576.47-1.042 1.05-1.042h4.203c.58 0 1.05.466 1.05 1.042v2.083c0 .575-.47 1.042-1.05 1.042H5.253c-.58 0-1.05-.467-1.05-1.042V7.292Zm0 6.25c0-.576.47-1.042 1.05-1.042H15.76c.58 0 1.05.466 1.05 1.042 0 .575-.47 1.041-1.05 1.041H5.253c-.58 0-1.05-.466-1.05-1.041Zm0 4.166c0-.575.47-1.041 1.05-1.041h2.102c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042H5.253c-.58 0-1.05-.466-1.05-1.042Zm6.303 0c0-.575.47-1.041 1.051-1.041h2.101c.58 0 1.051.466 1.051 1.041 0 .576-.47 1.042-1.05 1.042h-2.102c-.58 0-1.05-.466-1.05-1.042Zm6.304 0c0-.575.47-1.041 1.051-1.041h2.101c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042h-2.101c-.58 0-1.05-.466-1.05-1.042Zm6.304 0c0-.575.47-1.041 1.05-1.041h2.102c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042h-2.101c-.58 0-1.05-.466-1.05-1.042Z"></path>
                                    </g>
                                </svg>
                            </span>
                            </h2>
                            <div class="mb-3 mx-2">
                                <label class="form-label" style="font-family: yekan;">Phone Number</label>
                                <input type="tel" class="form-control" placeholder="09129876543" name="phone_number">
                            </div>
                            <div class="mb-3 mx-2">
                                <label class="form-label" style="font-family: yekan;">Table Number</label>
                                <select class="form-select" aria-label="Select table number" name="table_number">
                                    <option style="font-family: yekan;" selected disabled>Please Choose you'r Table Number</option>
                                    <option value="1" style="font-family: yekan;">Table 1</option>
                                    <option value="2" style="font-family: yekan;">Table 2</option>
                                    <option value="3" style="font-family: yekan;">Table 3</option>
                                    <option value="4" style="font-family: yekan;">Table 4</option>
                                    <option value="5" style="font-family: yekan;">Table 5</option>
                                    <option value="6" style="font-family: yekan;">Table 6</option>
                                    <option value="7" style="font-family: yekan;">Table 7</option>
                                    <option value="8" style="font-family: yekan;">Table 8</option>
                                    <option value="9" style="font-family: yekan;">Table 9</option>
                                    <option value="10" style="font-family: yekan;">میز شماره ۱۰</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card position-sticky top-0">
                        <div class="p-3 bg-light bg-opacity-10">
                            <h6 class="card-title mb-3" style="font-family: yekan;">خلاصه سفارش</h6>
                            <div class="d-flex justify-content-between mb-1 small">
                                <span style="font-family: yekan;">مجموع</span> <span>{{ total|intcomma }}</span>
                            </div>
                            <div class="d-flex justify-content-between mb-1 small">
                                <span style="font-family: yekan;">مالیات</span> <span>0</span>
                            </div>
                            <div class="d-flex justify-content-between mb-1 small">
                                <span style="font-family: yekan;">تخفیف</span> <span class="text-danger">-0</span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between mb-4 small">
                                <span style="font-family: yekan;">قابل پرداخت</span> <strong
                                    class="text-dark">{{ total|intcomma }}</strong>
                            </div>
                            <button class="btn btn-primary w-100 mt-2" type="submit" style="font-family: yekan;">ثبت سفارش</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endblock %}
<!--================ End Checkout Area =================-->


{% block script %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
{% endblock %}
