{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Orders History{% endblock %}

{% block style %}

{% endblock %}

<!--================ Banner Area =================-->
{% block headername %}Orders History{% endblock %}
<!--================End Banner Area =================-->
<!--================ History Area =================-->
{% block content %}
<div class="container padding-bottom-3x mb-1 pt-5">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="yekan">Order Table</th>
                <th class="text-center yekan">Details</th>
                <th class="text-center yekan">Created at</th>
                <th class="text-center yekan">Total Price</th>
            </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            <div>
                                <div>
                                    <h4><a href="#">{{ order.table_number }}</a></h4>
                                    {#<span><em>Size:</em> 10.5</span><span><em>Color:</em> Dark Blue</span>#}
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <div>
                                <h4><a href="#">{{ order.items }}</a></h4>
                            </div>
                        </td>
                        <td class="text-center text-lg text-medium">{{ item.order_date }}</td>
                        <td class="text-center text-lg text-medium">
                            {% order.widthratio item.price 1 quant as tot %}{{ tot|intcomma }}</td>
                    </tr>
                {% endfor %}
            </tbody>



<div class="card">
    {% form %}
</div>