{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        
        <!-- Cart css -->
        <!-- Checkout css -->
        {% block head %}
        {% endblock %}
    </head>  
    <body>
        <!--================ Navbar Area =================-->
        {% include 'navbar.html' %}
        <!--================ End Navbar Area =================-->
        {% include 'messages.html' %}

        <!--================ Banner Area =================-->
        
        <!--================ End Banner Area =================-->

        <!--================ Content Area =================-->
        {% block content %}
        {% endblock content %}
        <!--================ End Content Area =================-->

        <!--================ FooterArea =================-->
        {% include 'footer.html' %}
        <!--================ End Footer Area =================-->

        
        <!-- Cart Scripts -->
        <!-- Cart & Checkout Scripts -->
        {% block script %}
        {% endblock %}
    </body>
</html>
