{% block content %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href='http://alimd.github.io/libs/1fonts/1.4/1fonts.css' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="../statics/css_f/bootstrap.min.css">
        <link rel="stylesheet" href="../statics/css_f/style.css">
    </head>
    <body>
        <div class="footcon" style="width: 100%; background-color: rgb(33, 37, 41); height: 30vh; margin-top: 10px; padding-top: 10px;">
            <footer class="footer-16371">
                <div class="container" style="width:100%; height: 10vh;">
                    <div class="row justify-content-center">
                        <div class="col-md-9 text-center">
                            <div class="footer-site-logo mb-4">
                                <a href="#" style="font-family: yekan; font-size: large; color: #fff;">کافه گروه 2</a>
                            </div>
                            <ul class="list-unstyled nav-links mb-5 d-flex justify-content-center">
                                <li><a href="#" style="font-family: yekan; color: rgb(220, 53, 69);" class="col-3">منو</a></li>
                                <li><a href="#" style="font-family: yekan; color: rgb(220, 53, 69);" class="col-3">رزرو میز</a></li>
                                <li><a href="#" style="font-family: yekan; color: rgb(220, 53, 69);" class="col-3">ارتباط با ما</a></li>
                                <li><a href="#" style="font-family: yekan; color: rgb(220, 53, 69);" class="col-3">پنل کاربری</a></li>
                            </ul>
                            <div class="social mb-4">
                                <ul class="list-unstyled p-0 d-flex justify-content-center">
                                    <li class="in"><a href="#"><span class="fa fa-telegram col-3" style="color: rgb(220, 53, 69);"></span></a></li>
                                    <li class="in"><a href="#"><span class="fa fa-instagram col-3" style="color: rgb(220, 53, 69);"></span></a></li>
                                    <li class="in"><a href="#"><span class="fa fa-facebook col-3" style="color: rgb(220, 53, 69);"></span></a></li>
                                    <li class="in"><a href="#"><span class="fa fa-twitter col-3" style="color: rgb(220, 53, 69);"></span></a></li>
                                </ul>
                            </div>
                            <div class="copyright">
                                <p class="mb-0"><small>&copy; Group2. All Rights Reserved.</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="../statics/js_f/jquery-3.3.1.min.js"></script>
        <script src="../statics/js_f/popper.min.js"></script>
        <script src="../statics/js_f/bootstrap.min.js"></script>
    </body>
</html>
{% endblock %}

