{% block content %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href='http://alimd.github.io/libs/1fonts/1.4/1fonts.css' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="../statics/css_f/bootstrap.min.css">
        <link rel="stylesheet" href="../statics/css_f/style.css">
    </head>
    <body>
        <footer class="footer-16371">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 text-center">
                        <div class="footer-site-logo mb-4">
                            <a href="#" style="font-family: yekan;">کافه گروه 2</a>
                        </div>
                        <ul class="list-unstyled nav-links mb-5">
                            <li><a href="#" style="font-family: yekan;">منو</a></li>
                            <li><a href="#" style="font-family: yekan;">رزرو میز</a></li>
                            <li><a href="#" style="font-family: yekan;">ارتباط با ما</a></li>
                            <li><a href="#" style="font-family: yekan;">پنل کاربری</a></li>
                        </ul>
                        <div class="social mb-4">
                            <ul class="list-unstyled p-0">
                                <li class="in"><a href="#"><span class="fa fa-telegram"></span></a></li>
                                <li class="in"><a href="#"><span class="fa fa-instagram"></span></a></li>
                                <li class="in"><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li class="in"><a href="#"><span class="fa fa-twitter"></span></a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <p class="mb-0"><small>&copy; Group2. All Rights Reserved.</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="../statics/js_f/jquery-3.3.1.min.js"></script>
        <script src="../statics/js_f/popper.min.js"></script>
        <script src="../statics/js_f/bootstrap.min.js"></script>
    </body>
</html>
{% endblock %}

