{% block content %}
<!doctype html>
<html dir="rtl" lang="fa">
  	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  </head>
    <body>
      <style>
        body, html {height: 100vh;}
        .bg {
          background-image: url("../statics/img/coffeebeans.jpg");
          height: 100vh;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      </style>
    </body>
</html>
  {% endblock %}