{% block content %}
<!doctype html>
<html dir="rtl" lang="fa">
  	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href='http://alimd.github.io/libs/1fonts/1.4/1fonts.css' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="../statics/css_n/style.css">
	</head>
    <body>
        <section class="ftco-section">
            <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                <div class="container-fluid flex">  
					<div class="col-md-4 d-md-flex justify-content-start mb-md-0 mb-3">
						<form action="#" class="searchform order-lg-last">
							<div class="form-group d-flex pt-2">
								<input type="text" class="form-control pl-3 d-flex ml-1" placeholder="جستجو..." style="font-family: yekan;"	>
								<button type="submit" placeholder="" class="form-control search col-2 bg-danger"><span class="fa fa-search" style="color: #fff;"></span></button>
							</div>
						</form>
					</div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation" style="font-family: yekan;">
                    <span class="fa fa-bars"></span> فهرست</button>
                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item active"><a href="#" class="nav-link"></a></li>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: yekan;">منو</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown04">
                                    <a class="dropdown-item" href="#" style="font-family: yekan;">نوشیدنی های گرم</a>
                                    <a class="dropdown-item" href="#" style="font-family: yekan;">نوشیدنی های سرد</a>
                                    <a class="dropdown-item" href="#" style="font-family: yekan;">کیک و بستنی</a>
                                </div>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link" style="font-family: yekan;">گالری</a></li>
                            <li class="nav-item"><a href="#" class="nav-link" style="font-family: yekan;">ارتباط با ما</a></li>
                            <li class="nav-item"><a href="#" class="nav-link" style="font-family: yekan;">سبد خرید</a></li>
                        </ul>
                    </div>
					<div class="col-md-4  d-flex justify-content-end p-0">
						<div class="social-media p-0">
							<p class="mb-0 d-flex">
								<a href="#" class="align-items-center justify-content-center m-2"><span class="fa fa-facebook" style="color: rgb(220, 53, 69);"><i class="sr-only">Facebook</i></span></a>
								<a href="#" class="align-items-center justify-content-center m-2"><span class="fa fa-twitter" style="color: rgb(220, 53, 69);"><i class="sr-only">Twitter</i></span></a>
								<a href="#" class="align-items-center justify-content-center m-2"><span class="fa fa-instagram" style="color: rgb(220, 53, 69);"><i class="sr-only">Instagram</i></span></a>
							</p>
						</div>
					</div>
                </div>
          </nav>
        </section>
        <script src="../statics/js_n/jquery.min.js"></script>
        <script src="../statics/js_n/popper.js"></script>
        <script src="../statics/js_n/bootstrap.min.js"></script>
        <script src="../statics/js_n/main.js"></script>
    </body>
</html>
{% endblock %}