<!-- IN MENU'S URLS.PY: 
......import path
......import views

urlpattern=[
    path('', views.autocomplete, name='autocomplete'),
]
*******************************************************
IN MENU'S VIEWS.PY:
......import render
......import jsonresponse
from models...import cafeitem

def autocomplete(request):
    if 'term' in request.GET:
        Qs = cafeitem.objects.filter(name__icontains=request.Get.get('term'))
        names = list()
        for i in Qs:
            titles.append(i.name)
        return JsonResponse(names, safe = False)
    return render(request, ....../-----.html)
*******************************************************

-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<script src="https://code.jquery.com/jquery-1.12.4-js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui-js"></script>
<script>
    $(function() (
        $("#name").autocomplete((
            source: "{% url 'autocomplete' %}",
            minLength :2,
        ));
    ));
</script>