{% extends 'base.html' %}

{% block title %}Item Detail{% endblock %}

<!--================ Banner Area =================-->
{% block headername %}Item Detail{% endblock %}
{% block nestname %}Detail{% endblock %}
<!--================End Banner Area =================-->

<!--================ Detail Area =================-->
{% block content %}
  <div class="card" style="width: 25rem;  height: 25rem;">
    <img class="card-img-top" src="{{cafeitem.image.url}}" alt="">
    <div class="card-body">
      <h5 class="card-title"><div class="text-right">{{cafeitem.name}}</div></h5>
      <p class="card-text"><div class="text-right">{{cafeitem.description}}</div></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item pull-right"><div class="text-right">Category: {{cafeitem.category.name}}</div></li>
      <li class="list-group-item"><div class="text-right">Price: {{cafeitem.price}}</div></li>
      {% if cafeitem.is_available %}
      <li class="list-group-item"><div class="text-right">This item is available.</div></li>
      {% else %}
      <li class="list-group-item"><div class="text-right">Unfortunately this item is not available.</div></li>
      {% endif %}
    </ul>
  </div>
{% endblock %}
<!--================ End Detail Area =================-->