{% extends 'base.html' %}

{% block title %}Item Detail{% endblock %}

<!--================ Banner Area =================-->
{% block headername %}Item Detail{% endblock %}
{% block nestname %}Detail{% endblock %}
<!--================End Banner Area =================-->

<!--================ Detail Area =================-->
{% block content %}
    <div class="container-fluid d-flex justify-content-center pb-5">
        <div class="card" style="width: 25rem;  height: 30rem;">
            <img class="card-img-top" src="{{ cafeitem.image.url }}" alt="">
            <div class="card-body">
                <h5 class="card-title">
                    <div class="text-left">{{ cafeitem.name }}</div>
                </h5>
                <p class="card-text">
                <div class="text-left">{{ cafeitem.description }}</div>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item pull-left">
                    <div class="text-left">Category: {{ cafeitem.category.name }}</div>
                </li>
                <li class="list-group-item">
                    <div class="text-left">Price: {{ cafeitem.price }}</div>
                </li>
                {% if cafeitem.is_available %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary justify d-flex" name="{{ item.id }}" value="0"
                                    onclick="increment(this)">Add to Cart
                            </button>
                        </div>
                    </li>
                {% else %}
                    <li class="list-group-item">
                        <div class="text-right">Unfortunately this item is not available.</div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
<!--================ End Detail Area =================-->