{% extends 'base.html' %}
{% load static %}

{% block title %}Menu{% endblock %}


<!--================ Header Area =================-->
{% block headername %}Menu{% endblock %}
{% block nestname %}Menu{% endblock %}
<!--================ End Header Area =================-->

<!--================ Menu Area =================-->

{% block content %}
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Menu & Pricing</h4>
            <h1 class="display-4">Competitive Pricing</h1>
        </div>
        <div class="row">
            {% for cat in  categories %}
            <div class="col-lg-6 px-5">
                <h1 class="mb-5">{{ cat.name }}</h1>
                <div><hr></div>
                {% for item in cafeitem %}
                    {% if  cat.name == item.category.name %}
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="rounded-circle mb-3 mb-sm-0" style="width: 7rem; height: 7rem;" src="{{ item.image.url }}" alt="">
                        <h5 class="menu-price">T{{ item.price }}</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>{{ item.name }}</h4>
                        <p class="m-0">{{ item.description }}</p>
                        <div class="d-flex justify-content-end mx-5">
                            <button class="btn text-dark justify" style="background-color: #DA9F5B;" name="{{ item.id }}" value="0"
                                    href="?pk={{ item.id }}"
                                    onclick="increment(this)">Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

<!--================End Menu Area =================-->